.icons {
  margin: 5px 5px;
  font-size: 20px;
  opacity: 0.5;
}

.icons:hover {
  margin: 5px 5px;
  font-size: 20px;
  opacity: 1.0;
}

.brand {
   font-family: 'Cormorant SC', serif;
  font-weight: 700;
  font-size: 50px !important;
  padding-left: 2%;
}