.portfolio {
 object-fit: cover;
 width:350px;
 height:350px;
 padding: 10% 10%;
}

.profile-photo {
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 5%;
  margin-bottom: 2%;
}

.photographer-profile {
  text-align: center;
}

.photographer-name {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.photographer-location {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
}


.photographer-bio {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
}