.background-requests {
  width: 100%;
  padding-top: 30%;

}

.request-photo {
  border-radius: 50%;
  width: 80px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;

}

.request-name {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  display: inline;
}

.request-box {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  display: inline-block;
  margin: 10px;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  width: 90%;
  border-radius: 10px;
}

.request-buttons {
  display: block;
  margin-left: 70%;
  margin-bottom: 3%;
}

.request-decline {
margin-left: 1rem;
}

.pending-requests {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 50px;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.cursive-requests {
  font-family: 'Parisienne', cursive !important;
}