.result {
  object-fit: cover;
  width: 350px;
  height: 350px;
  padding: 10% 10%;
}

.w-100 {
object-fit: cover;
width: 100% !important;
height: 450px !important;
}

.title-found {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 45px;
  padding: 5rem 5rem;
}

.card-body {
  text-align: center;
}

.col-sm {
  padding-bottom: 2rem;
}

.cursive-photographer {
   font-family: 'Cormorant SC', serif;
  font-weight: 700;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.result-cards {
  text-align: center;
}
