.upload-page {
  width: 100%;
  height: 100%;
}

.upload {
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-top:30%;
  margin-bottom: 15%;
}

.styles {
    font-family: 'Cormorant SC', serif;
  font-weight: 700;
   text-decoration: underline;
}
.file-upload {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-bottom: 5%;
}