.upload-page {
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.upload {
  font-size: 60px;
  font-family: 'Playfair Display SC', serif;
}